@mixin arrow{
    position: absolute;
    z-index: 4;
    font-size: 100px;
    color: white;
    top:150px;
}


.carousel{
    position: relative;

img{
    height: 415px;
    width:100%;
    object-fit: cover;
}

.arrow_left{
@include arrow;
}

.arrow_right{
@include arrow;
right: 2px;
}
}

h1{
    color: #FF6060;
    margin-bottom:3px;
}

.propImg{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
}

.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ProprioTitle{
    display: flex;
    align-items: center;
    gap:10px ;

    span{
        width:60px;
    }
}


.tags{
   
    
    span{
        background-color: #FF6060;
        color: white;
        border-radius: 25px;
        padding: 10px;
        margin-top: 30px;
        margin-right: 10px;
    }

}

.ligne{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}

.card-rating{

    svg{
        color:#E3E3E3;
        padding:2px;
    }


    .RedStar{
        color: #FF6060;
    }

    
}

.box{
    margin-top: 20px;
.box-title{
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    padding:10px;  
}
.box-content{
    margin: 0px;
    background-color: #E3E3E3;
    list-style-type: none;
    padding-left: 0px;
    padding: 10px;
}
}

.box-info{
    display:flex;
    flex-direction: row;
    margin-top:30px;
    justify-content: space-between;
    
    .box{
        width:45%
    }
}

/*.description{
  
  div{
    width: 45%;
    
    span{
        
        display: flex;
        justify-content: space-between;
        background-color: #FF6060;
        color: white;
        padding:10px;             
    }

    p, ul {
    margin: 0px;
    background-color: #E3E3E3;
    list-style-type: none;
    padding-left: 0px;
    padding: 10px;
}
}
}*/