header{
    display : flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 30px;
}

nav{
display: flex;
gap:30px;

}

a{
    text-decoration: none;
    color: black;
}

.logo{
width: 210.32px;
height: 68px;
gap: 0px;
opacity: 0px;

}
